* {
    box-sizing: border-box;
}
body {
    font-family: 'Quicksand', sans-serif;
    font-size: medium;

    margin: 0;
    padding: 0;
}

h2,h3 {
    color: #9c22a6;
    text-shadow: 1px 1px 2px black;
}

footer {
    padding: 20px;
    color: white;
    background-color: #83c0c1;
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 1px 2px black;
}
nav a{
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
  
    color: white;
}

nav a:hover{
    font-weight: bold;
}

.profil header{
    text-align: center;
}
.maps-image{
    width: 100%;
    max-height: 420px;
    object-fit: cover;
    object-position: center;
}

.featured-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}
.profil img{
    width: 200px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  
    padding: 20px;
}
.content-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.image-container {
    width: 22%;
}
.text-container {
    width: 75%; 
    align-self: center;
}

.jumbotron {
    font-size: 20px;
    padding: 60px;
    background-color: #83c0c1;
    text-align: center;
    color: white;
    text-shadow: 2px 1px 2px black;
}
nav ul {
    padding-inline: 4rem;
    display: flex;
    justify-content: left;
  
    gap: 2rem;
}
nav li {
    list-style-type: none;
}
nav {
    background-color: #6962ad;
    padding: 5px;
  
    position: sticky;
    top: 0;
}
main {
    padding: 20px;
  
    display: flex;
    
    gap: 1rem;
}
#content{
    flex: 5;
  
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem 2rem;
}
  
aside{
    flex: 1;
}

header {
    display: inline;
}
@media screen and (max-width: 1200px) {
    main {
      flex-flow: column nowrap;
    }
    main aside {
      align-self: center;
      width: 100%;
    }
}
@media screen and (max-width: 768px) {
    nav ul {
      justify-content: center;
      flex-wrap: wrap;
      column-gap: 2rem;
    }
    main aside {
      align-self: stretch;
    }
}